In [1]:
import pandas as pd

In [3]:
products = pd.read_csv('products.csv')

In [18]:
products.isna().sum()

product_code    0
product_type    0
dtype: int64

In [11]:
products.product_code.unique()

array(['Prod001', 'Prod002', 'Prod003', 'Prod004', 'Prod005', 'Prod006',
       'Prod007', 'Prod008', 'Prod009', 'Prod010', 'Prod011', 'Prod012',
       'Prod013', 'Prod014', 'Prod015', 'Prod016', 'Prod017', 'Prod018',
       'Prod019', 'Prod020', 'Prod021', 'Prod022', 'Prod023', 'Prod024',
       'Prod025', 'Prod026', 'Prod027', 'Prod028', 'Prod029', 'Prod030',
       'Prod031', 'Prod032', 'Prod033', 'Prod034', 'Prod035', 'Prod036',
       'Prod037', 'Prod038', 'Prod039', 'Prod040', 'Prod041', 'Prod042',
       'Prod043', 'Prod044', 'Prod045', 'Prod046', 'Prod047', 'Prod048',
       'Prod049', 'Prod050', 'Prod051', 'Prod052', 'Prod053', 'Prod054',
       'Prod055', 'Prod056', 'Prod057', 'Prod058', 'Prod059', 'Prod060',
       'Prod061', 'Prod062', 'Prod063', 'Prod064', 'Prod065', 'Prod066',
       'Prod067', 'Prod068', 'Prod069', 'Prod070', 'Prod071', 'Prod072',
       'Prod073', 'Prod074', 'Prod075', 'Prod076', 'Prod077', 'Prod078',
       'Prod079', 'Prod080', 'Prod081', 'Prod082', 'Prod083', 'Prod084',
       'Prod085', 'Prod086', 'Prod087', 'Prod088', 'Prod089', 'Prod090',
       'Prod091', 'Prod092', 'Prod093', 'Prod094', 'Prod095', 'Prod096',
       'Prod097', 'Prod098', 'Prod099', 'Prod100', 'Prod101', 'Prod102',
       'Prod103', 'Prod104', 'Prod105', 'Prod106', 'Prod107', 'Prod108',
       'Prod109', 'Prod110', 'Prod111', 'Prod112', 'Prod113', 'Prod114',
       'Prod115', 'Prod116', 'Prod117', 'Prod118', 'Prod119', 'Prod120',
       'Prod121', 'Prod122', 'Prod123', 'Prod124', 'Prod125', 'Prod126',
       'Prod127', 'Prod128', 'Prod129', 'Prod130', 'Prod131', 'Prod132',
       'Prod133', 'Prod134', 'Prod135', 'Prod136', 'Prod137', 'Prod138',
       'Prod139', 'Prod140', 'Prod141', 'Prod142', 'Prod143', 'Prod144',
       'Prod145', 'Prod146', 'Prod147', 'Prod148', 'Prod149', 'Prod150',
       'Prod151', 'Prod152', 'Prod153', 'Prod154', 'Prod155', 'Prod156',
       'Prod157', 'Prod158', 'Prod159', 'Prod160', 'Prod161', 'Prod162',
       'Prod163', 'Prod164', 'Prod165', 'Prod166', 'Prod167', 'Prod168',
       'Prod169', 'Prod170', 'Prod171', 'Prod172', 'Prod173', 'Prod174',
       'Prod175', 'Prod176', 'Prod177', 'Prod178', 'Prod179', 'Prod180',
       'Prod181', 'Prod182', 'Prod183', 'Prod184', 'Prod185', 'Prod186',
       'Prod187', 'Prod188', 'Prod189', 'Prod190', 'Prod191', 'Prod192',
       'Prod193', 'Prod194', 'Prod195', 'Prod196', 'Prod197', 'Prod198',
       'Prod199', 'Prod200', 'Prod201', 'Prod202', 'Prod203', 'Prod204',
       'Prod205', 'Prod206', 'Prod207', 'Prod208', 'Prod209', 'Prod210',
       'Prod211', 'Prod212', 'Prod213', 'Prod214', 'Prod215', 'Prod216',
       'Prod217', 'Prod218', 'Prod219', 'Prod220', 'Prod221', 'Prod222',
       'Prod223', 'Prod224', 'Prod225', 'Prod226', 'Prod227', 'Prod228',
       'Prod229', 'Prod230', 'Prod231', 'Prod232', 'Prod233', 'Prod234',
       'Prod235', 'Prod236', 'Prod237', 'Prod238', 'Prod239', 'Prod240',
       'Prod241', 'Prod242', 'Prod243', 'Prod244', 'Prod245', 'Prod246',
       'Prod247', 'Prod248', 'Prod249', 'Prod250', 'Prod251', 'Prod252',
       'Prod253', 'Prod254', 'Prod255', 'Prod256', 'Prod257', 'Prod258',
       'Prod259', 'Prod260', 'Prod261', 'Prod262', 'Prod263', 'Prod264',
       'Prod265', 'Prod266', 'Prod267', 'Prod268', 'Prod269', 'Prod270',
       'Prod271', 'Prod272', 'Prod273', 'Prod274', 'Prod275', 'Prod276',
       'Prod277', 'Prod278', 'Prod279'], dtype=object)

In [16]:
products[products['product_code']==""]

Empty DataFrame
Columns: [product_code, product_type]
Index: []

In [16]:
products[products['product_code']=="Blank"]

Empty DataFrame
Columns: [product_code, product_type]
Index: []

In [17]:
products[products['product_code']=="(Blank)"]

Empty DataFrame
Columns: [product_code, product_type]
Index: []